astropy~=5.3
ipython>=7.2,<8
jupyterlab>=3,<4
notebook>=6.0
numpy>=1.16
scipy
scikit-image>=0.17
matplotlib>=3.2
pandas>=1.0
ccdproc
photutils>=1.6.0
astrowidgets
pillow<10  # to not break astrowidgets
bqplot
pydantic<2
astroquery
reducer
aggdraw
batman-package  # really ought to be optional
specutils>=1.1.1
xlwt
xlrd
openpyxl
astroplan
stellarphot
ipympl
lightkurve
lmfit
ipywidgets<8   # for Pyriod
Pyriod
astronbs
